@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@layer utilities {
  .container-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;

    /* Main dynamic width logic */
    max-width: calc(100vw - clamp(0px, var(--fluid-margin) * 2, 1240px));
  }

  :root {
    --fluid-margin: 0px;
  }

  /* 768px to 1023px — fluid between 24px to 32px */
  @media (min-width: 768px) {
    :root {
      --fluid-margin: calc(24px + (8 * ((100vw - 768px) / 256)));
    }
  }

  /* 1024px to 1439px — fluid between 32px to 60px */
  @media (min-width: 1024px) {
    :root {
      --fluid-margin: calc(32px + (28 * ((100vw - 1024px) / 416)));
    }
  }

  /* 1440px to 2559px — fluid between 60px to 620px */
  @media (min-width: 1440px) {
    :root {
      --fluid-margin: calc(60px + (560 * ((100vw - 1440px) / 1120)));
    }
  }

  /* ≥2560px — lock margin at 620px */
  @media (min-width: 2560px) {
    :root {
      --fluid-margin: 620px;
    }
  }
}




body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply font-sans;
}

